:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

.container {
    background-color: #5f90fa;
}

.body {
    background-color: #5f90fa;
    color: black;
}

.card {
    background-color: rgb(182, 199, 255);
    cursor: pointer;
    transition: 0.1s all ease-in-out;
    border: 1px solid ;
}

.card:hover {
    transform: scale(1.08);
}

.header {
    background-color: rgb(82, 80, 80);
}

.navbar {
    background-color: rgb(145, 200, 255);
}

.card-title {
    margin-bottom: -0.05rem;
}

.card-text {
    margin-top: 0;
    /* margin-bottom: 0rem; */
    margin-bottom: 0.2rem;
}

.price {
    font-style: italic;
}
